
body {
    color: #000000;
    background-color: #d3d3d3
  }


h1, h2 {
    font-family:"Helvetica", "Arial", sans-serif;
    font-size: 30px;
  }

.questions, p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

#itsme{
  max-width: 150px;
  border-style: solid;
}