html,body{
  margin: 0;
  padding: 0;
  height: 100%;
}
.wrapper{
  min-height:100%;
  position: relative;
  padding-bottom: 60px;
}

footer{
  position: absolute;
  bottom:0;
}
/* Part 4 */

li{
  list-style-type: square;
}

ul>ul>li:last-child{
  color:red;
}