
body {
    color: #000000;
    background-color: #d3d3d3
  }


h1, h2 {
<<<<<<< HEAD
    font-family:'Times New Roman', Times, serif
   }
=======
    font-family:"Helvetica", "Arial", sans-serif;
    font-size: 30px;
  }

.aboutme, .questions {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}

#itsme{
  max-width: 150px;
  border-style: solid;
}
>>>>>>> a8a878ef4b607024484322d4ae08690bb699a068
